.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  margin: 30px;
  gap: 10px;
}

.button_container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  font-size: 22px;
  font-weight: 500;
  color: #0B4268;
  letter-spacing: 0.2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}